// C O L O R S 

$main-color: #fff;
$accent-color: #FF0000;
$safe-color: #9F9F9F;

//////////////



body {
	// font-family: 'Roboto', sans-serif;
	font-family: 'Lato', sans-serif;
}

.second-font {
	font-family: 'Josefin Slab', serif;
}

a {
	outline: 0 !important;
}

// N A V B A R
.navbar {
	margin-top: 15px;
}

.logo-nav {
	height: 100%; 
	width: auto;
}

.navbar-brand {
	padding: 5px 15px;
}

.border-b-white {
	border-bottom: 2px solid white;
	padding-bottom: 15px;
}

.navbar-nav li a {
	color: $main-color;
	text-transform: uppercase;
	@extend .second-font;
	border-radius: 10px;
	&:hover, &:focus, &:active {
		color: $accent-color;
		background-color: transparent;
	}
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .nav .open > a:active {
	background-color: transparent;
	color: $accent-color;
}

.dropdown-menu {
	li a {
		color: $safe-color;
		&:hover {
			color: $main-color;
		}
	}
}

/////////////// 


// I N T R O

.iu-intro {
	position: relative;
	height: 720px;
	overflow: hidden;
	background-color: #000;
}

.parallax-window {
	height: 720px;
}

.overlay {
	position: absolute;
	top: 0;
	z-index: 10;
	width: 100%;
}

.bg-video {
	height: 720px;
	position: relative;
	top: 50%;
	left: 50%;
	z-index: 0;
	transform: translateX(-50%) translateY(-50%);
	background: transparent url("../assets1/Imagenes/bronco.png") no-repeat scroll 0% 0% / cover;
}

.intro-logos {
	padding: 10px;
	border: 5px solid white;

}

@media (min-width: 768px) {
	.intro-height {
		height: 616px;
	}
	.wrapper-img {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}
///////////////