// C O L O R S 

$main-color: #fff;
$accent-color: #f00;
$safe-color: #9f9f9f;
$transparent: rgba(0, 0, 0, .75);

//////////////


// F O N T 
$primary-size: 14px;
$big-text: 22px;
// 



body
{
    // font-family: 'Roboto', sans-serif;
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;

    position: relative;
}

.second-font
{
    font-family: 'Josefin Slab', serif;
}

a
{
    outline: 0 !important;
}

.bg-red
{
    z-index: -3;

    background-color: $accent-color;
}

.vertical-align
{
    position: relative;
    top: 50%;

    transform: translateY(-50%);
}

.main-text
{
    font-size: $big-text;

    text-align: center;
}

.main-title
{
    font-size: 60px;

    text-align: center;

    color: $accent-color;

    @extend .second-font;
}

.title-white {
    color: $main-color;
    border: 2px solid;
    text-align: left;
    display: inline-block;
}

.section-text
{
    padding-top: 35px;
}

.uppercase
{
    text-transform: uppercase;
}

.pos-rel
{
    position: relative;
}

.container-parallax
{
    width: 100%;
    height: 320px;
}

.z-1
{
    z-index: 1;
}

.z-3
{
    z-index: 3;
}

.col-white
{
    color: $main-color;
}

@media (max-width: 767px)
{
    .iu-intro
    {
        height: 504px;
    }

    .padding-small
    {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (min-width: 768px)
{
    .iu-section
    {
        height: 720px;
    }
    .vertical-align-no-small
    {
        position: relative;
        top: 50%;

        transform: translateY(-50%);
    }

    .pos-stat
    {
        position: static;
    }
}

// N A V B A R
.navbar
{
    z-index: 200;

    margin-top: 15px;
}

.logo-nav
{
    width: auto;
    height: 100%;
}

.navbar-brand
{
    padding: 5px 15px;
}

.border-b-white
{
    padding-bottom: 15px;

    border-bottom: 2px solid white;
}

.navbar-nav li a
{
    text-transform: uppercase;

    color: $main-color;
    border-radius: 10px;

    @extend .second-font;
    &:hover,
    &:focus,
    &:active
    {
        color: $accent-color;
        background-color: transparent;
    }
}

.icon-bar
{
    background-color: $main-color;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav .open > a:active
{
    color: $accent-color;
    background-color: transparent;
}

.active
{
    a
    {
        color: $transparent !important;
        background-color: $main-color !important;
    }
}

.dropdown-menu
{
    li a
    {
        color: $main-color;
        &:hover
        {
            color: $main-color;
        }
    }
}

@media (min-width: 768px)
{
    // .navbar-collapse {
    //  background-color: $transparent;
    //  opacity: 0;
    // }
    .affix .navbar-collapse
    {
        // position: fixed !important;
        // top: 0 !important;
        // width: 100% !important;
        background-color: $transparent !important;
    }

    .affix
    {
        // width: 100% !important;
    }
}

@media (max-width: 767px)
{
    .navbar-collapse
    {
        background-color: $transparent;
    }
}



/////////////// 


// I N T R O

.iu-intro
{
    position: relative;

    overflow: hidden;
}

.parallax-intro
{
    height: 504px;
}

.overlay
{
    position: absolute;
    top: 0;

    width: 100%;
}

.bg-video
{
    position: relative;
    z-index: 0;
    top: 50%;
    left: 50%;

    height: 720px;

    transform: translateX(-50%) translateY(-50%);

    background: transparent url('../assets1/Imagenes/bronco.png') no-repeat scroll 0 0 / cover;
}

.intro-logos
{
    max-width: 100%;
    padding: 10px;

    border: 5px solid white;
}

.intro-height
{
    margin-top: 104px;
}

@media (max-width: 767px)
{
    .intro-height
    {
        height: 400px;
    }
}

@media (min-width: 768px)
{
    .intro-height
    {
        height: 616px;
    }
}
///////////////

// C O N O C E N O S
.parallax-conocenos
{
    height: 320px;
}

.container-conocenos
{
    max-width: 400px;

    text-align: center;

    border: 2px solid;
}
@media (min-width: 768px)
{
    .h-400
    {
        height: 400px;
    }
    .conocenos-bg
    {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;

        transform: translateX(-50%) translateY(-50%);
        img
        {
            opacity: .3;
        }
    }
}
////////////// 

// I M P A C T O
.parallax-impacto
{
    padding-bottom: 35px;
}
.num-ciruclo
{
    font-size: 55px;
    line-height: 111px;

    display: inline-block;

    width: 110px;
    height: 110px;
    margin-top: 25px;

    text-align: center;

    color: $main-color;
    border: 5px solid;
    border-radius: 50%;

    @extend .second-font;
}

.num-caption
{
    font-size: 25px;

    margin-top: 30px;

    color: $main-color;
}
// 
