body {
	font-family: 'Roboto', sans-serif;
}

// N A V B A R
.logo-nav {
	height: 100%; 
	width: auto;
}

.navbar-brand {
	padding: 5px 15px;
}

/////////////// 


// I N T R O

.iu-intro {
	position: relative;
}

.parallax-window {
	height: 720px;
}

.overlay {
	position: absolute;
	top: 0;
	z-index: 10;
	width: 100%;
}
///////////////